// Variables
$color-principal: #c4aacf;
$color-secundario: #48942c;
$color-blanco: #ffffff;
$color-negro: black;
$color-hover: #4bd129;
$color-button: #007bff;
$color-container-button: #0d2b4b;
$color-descripcion: gray;